.container {
  max-width: 1000px;
  margin: 0 auto;
}

.races {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  list-style-type: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.race {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.raceName {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.raceTime {
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 640px) {
  .races {
    width: 100%;
    border: none;
  }
}
